{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"importOrder": [
		"^react.*$",
		"^redux.*$",
		"^@.*$",
		"<THIRD_PARTY_MODULES>",
		"^environments.*$",
		"^public.*$",
		"^routing.*$",
		"^auth.*$",
		"^state.*$",
		"^apis.*$",
		"^libs.*$",
		"^services.*$",
		"^structure.*$",
		"^content.*$",
		"^\\.\\./(.*)$",
		"^\\./(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"insertPragma": false,
	"jsxSingleQuote": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"printWidth": 140,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"useTabs": true,
	"vueIndentScriptAndStyle": false
}
